.header {
    background-color: #fbebd3;
    color: rgb(38, 38, 38);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
  }
  
  .header h1 {
    margin: 0;
  }
  